@import "./style.scss";

body {
    @include headermain;
}





@import "./footers.scss";

body {
    @include headermain;
}

.store-body{
    position: relative;
}
.stote-body-right{
    display: flex;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    
    
}

.store-body-left-search-box{
    border: none;
    height: 50px;
    width: 40%;
    margin-left: 170px;
    margin-top: 100px;
    border-bottom: 1px solid black ;
}

.store-body-left-a{
    padding-left: 170px;
    padding-top: 300px;
    
}
.store-body-left-a a{
  color: rgb(0,98,65);
    display: flex;
    gap: 5px;

}
